#!/bin/bash

# {{ if eq .chezmoi.os "darwin" }}
echo "Installing essential packages on macOS..."

# Install Homebrew if not already installed
if ! command -v brew &>/dev/null; then
    echo "Homebrew not found. Installing..."
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Update Homebrew
brew update

# Install fonts via Homebrew
brew tap homebrew/cask-fonts
brew install font-noto-sans-nerd-font
fc-cache -fv
echo "Noto Sans Nerd Font installed via Homebrew."

# Install CLI tools
brew install fish tmux neovim zoxide eza git gitui ripgrep fzf bat jq fd bottom

# Install optional tools (comment out any that aren't needed)
brew install \
    node \
    lua \
    zig \
    typescript-language-server \
    yaml-language-server \
    sqlfluff \
    shfmt \
    tree \
    tree-sitter \
    postgresql \
    starship


    # mongosh \
    # natscli

# Install GUI apps via Homebrew Cask
brew install --cask alacritty

# Apply tmux packages
if [ ! -d "$HOME/.tmux/plugins/tpm" ]; then
    git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
else
    cd ~/.tmux/plugins/tpm && git pull
fi
echo "Installing tmux plugins..."
$HOME/.tmux/plugins/tpm/bin/install_plugins

echo "Setting up GPG pinentry for macOS..."

# Ensure ~/.gnupg exists with the correct permissions
brew install pinentry-mac
mkdir -p ~/.gnupg
chmod 700 ~/.gnupg

# Dynamically detect Homebrew prefix and set pinentry-mac
BREW_PREFIX=$(brew --prefix)
echo "pinentry-program $BREW_PREFIX/bin/pinentry-mac" > ~/.gnupg/gpg-agent.conf
chmod 600 ~/.gnupg/gpg-agent.conf

# Restart GPG agent
gpgconf --kill gpg-agent
gpgconf --launch gpg-agent

echo "Installation complete!"
# {{ end }}

